<!DOCTYPE html>
<html lang="en" class="wf-loading">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><layout-placeholder name="title">Welcome</layout-placeholder></title>

    <lasso-head/>

</head>
<body>
    <layout-placeholder name="body" />
    <lasso-body/>
    <init-widgets/>
</body>
</html>