node_modules
bower_components
*.log
*.iml
*.pyc
*.kate-swp
/deploy/.profile
.idea/*
.DS_Store
/build
/target
*.marko.js
/.cache
/static
*.log


# Files that are supposed to be generated automatically
/src/layouts/base/config.js

# Test file for quick sketches
/test.js